<h1>New List</h1>

<%= form_with model: @list, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <%= form.submit "Create List", class: "btn btn-success" %>
<% end %>

<%= link_to "Back", lists_path, class: "btn btn-secondary" %>
